@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.baniere{
    background: linear-gradient(rgba(0, 0, 0, 0.5),  #4822a0), url(https://img.le-dictionnaire.com/violet-couleur.jpg) center/cover no-repeat;
    height: 100vh;
}

.logo img{
    width: 180px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.baniere-text{
    text-align: center;
    color: #fff;
    padding-top: 400px;
}

.baniere-text h1{
   font-size: 20px; 
   /*font-family: 'Lobster', cursive;*/
   font-style: italic;
}

.baniere-text p{
    font-size: 20px;
    font-style: italic;
}

.baniere_btn{
    text-align: center;
    margin-top: 20px;
}

.baniere_btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: 1px solid #fff;
    position: inherit;
    z-index: 1;
    transition: color 0.6s ease-in;
}

.baniere_btn a span{
    width: 0;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.6s ease-in;
}

.baniere_btn a:hover span{
    width: 100%;
}

.baniere_btn a:hover{
    color: rgb(0, 0, 0);
}

.nav ul li {
    list-style: none;
    margin: 20px 20px;
}

.nav ul li a{
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 770px) {
    .baniere-text h1{
        font-size: 44px;
     } 

     .baniere_btn a{
        display: block;
        margin: 20px auto;
    }

    .baniere{

        height: 80vh;
    }
}

body {
  background: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background: url('ressources/foretlumdown.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}

.container-first {
  position: absolute;
  top: 10%;
  left: 5%;
}

h1 {
  text-transform: uppercase;
  font-size: 110px;
  color: #f1f1f1;
  font-family: Abril fatface, sans-serif;
}

h1 span {
  position: relative;
}
.container-btns {
  position: relative;
  top: 50px;
}
.btn-first {
  border: 2px solid #f1f1f1;
  outline: none;
  background: transparent;
  font-size: 30px;
  padding: 20px;
  width: 300px;
  color: #f1f1f1;
  cursor: pointer;
}
.btn-first:nth-child(1){
  margin-right: 30px;
}
.btn-first:hover {
  transition: all 0.3s ease-in-out;
  background: #f1f1f1;
  color: #333;
}

.logo {
  position: absolute;
  right: 93%;
  top: 90%;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.medias {
  list-style-type: none;
  position: absolute;
  right: 1.3%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bulle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid #5a12cc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  background: #f1f1f1;
  cursor: pointer;
  position: relative;
}

.medias1 {
  list-style-type: none;
  position: absolute;
  right: 1.3%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bullos {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid #5a12cc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  background: #f1f1f1;
  cursor: pointer;
  position: relative;
}

.logo-medias {
  width: 40px;
  height: 40px;
}

.btnarcenciel{
  text-align: center;
  margin-top: 20px;
}

.btnarcenciel a{
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: #fff;
  border: 1px solid #fff;
  position: inherit;
  z-index: 1;
  transition: color 0.6s ease-in;
}

.btnarcenciel a:hover span{
  width: 100%;
}

.btnarcenciel a:hover{
  color: rgb(0, 0, 0);
}

.btnarcenciel {
  padding: 20px 50px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all .2s;
  overflow: hidden;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
}

.btnarcenciel::after {
  content: '';
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: 700px;
  background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
  z-index: -1;
  transition: all .5s;
}

.btnarcenciel:hover::after {
  transform: rotate(150deg);
}

.btnarcenciel:hover {
  transform: translate(0,-6px);
  box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
}

.banieregen {
  background: linear-gradient(rgba(0, 0, 0, 0.5),  #4822a0), url(https://img.le-dictionnaire.com/violet-couleur.jpg) center/cover no-repeat;
    height: 100vh;
}